@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap");

:root {
    --ch-height: 10px;
    --ch-width: 10px;
}

/*フォントの追加*/
*,
* * {
    font-family: "Zen Maru Gothic";
}

/*右上の配信の奴とか消す*/
.hCYBep {
    display: none !important;
}

/*settingBoxのスタイル*/
#settingBox {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #252525;
    top: 0px;
    right: 0px;
    padding: 10px;
}

/*vCheckBoxの右寄せ*/
#vCheckBox {
    margin-left: auto;
    margin-bottom: 5px;
}

/*クロスヘアの設定*/
#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: var(--cc-image);
}

label#aimbotLabel {
    display: flex;
}
#urlBox{
    height:20px;
    background:#333;
    color:white;
    font-weight: bolder;
    box-shadow: unset;
    border:unset;
    border-bottom:1px white solid;
}

#aimbotButton {
    margin-left: auto;
}